.privacy-policy {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  padding: 0 10rem;

  .with-label {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    h4 {
      font-weight: $font-sb;
    }
  }

  ul {
    padding: 0 5rem;
  }
}
