<footer>
  <div class="footer">
    <div class="logo">ABC</div>
    <p class="text-xs">
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Totam sapiente
      dolore veritatis perferendis delectus voluptatem dolorum! Sit, assumenda
      iusto? Aperiam nihil corrupti voluptatibus qui?
    </p>
    <p class="text-xs">© 2021 ABC Learning Center</p>
  </div>
  <div class="sitemap">
    <div class="sitemap-item">
      <h5>Product</h5>
      <p class="text-xs">Tips</p>
      <p class="text-xs">Sitemap</p>
      <p class="text-xs">Privacy Policy</p>
      <p class="text-xs">Privacy Policy</p>
    </div>
    <div class="sitemap-item">
      <h5>Product</h5>
      <p class="text-xs">Tips</p>
      <p class="text-xs">Sitemap</p>
      <p class="text-xs">Privacy Policy</p>
    </div>
    <div class="sitemap-item">
      <h5>Product</h5>
      <p class="text-xs">Tips</p>
      <p class="text-xs">Sitemap</p>
    </div>
  </div>
  <div class="contact">
    <h5>Office</h5>
    <p class="text-xs">PT ABC Sejahtera</p>
    <p class="text-xs">Jl. Jupiter Kel No.10D</p>
    <p class="text-xs">Bandung, Indonesia</p>
    <p class="text-xs">(021) 845612353</p>
    <p class="text-xs">team@abc.com</p>
  </div>
</footer>
