<footer>
  <div class="footer">
    <div class="logo">
      <a href="../index.html">
        <img src="../assets/img/logo.png" alt="" />
      </a>
    </div>
    <p class="text-xs">
      ABC Learning Center The best learning platform. Join us and develop your
      talents.
    </p>
    <p class="text-xs">© 2021 ABC Learning Center</p>
  </div>
  <div class="sitemap">
    <div class="sitemap-item">
      <h5>Main Page</h5>
      <p class="text-xs"><a href="../index.html">Home</a></p>
      <p class="text-xs"><a href="../pages/about.html">About</a></p>
      <p class="text-xs"><a href="../pages/contact.html">Contact</a></p>
      <p class="text-xs"><a href="../pages/course.html">Course</a></p>
    </div>
    <div class="sitemap-item">
      <h5>Auth Page</h5>
      <p class="text-xs"><a href="../pages/login.html">Login</a></p>
      <p class="text-xs"><a href="../pages/signup.html">Register</a></p>
    </div>
    <div class="sitemap-item">
      <h5>Others</h5>
      <p class="text-xs"><a href="../pages/sitemap.html">Sitemap</a></p>
      <p class="text-xs">
        <a href="../pages/privacyPolicy.html">Privacy Policy</a>
      </p>
    </div>
  </div>
  <div class="contact">
    <h5>Office</h5>
    <p class="text-xs">PT ABC Sejahtera</p>
    <p class="text-xs">Jl. Jupiter Kel No.10D</p>
    <p class="text-xs">Bandung, Indonesia</p>
    <p class="text-xs">(021) 845612353</p>
    <p class="text-xs">team@abc.com</p>
  </div>
</footer>
