<header class="header">
  <div class="logo">
    <a href="../index.html">
      <img src="../assets/img/logo.png" alt="" id="brand-logo" />
    </a>
  </div>
  <ul class="nav" id="navbar">
    <li class="nav-item active"><a href="../index.html">Home</a></li>
    <li class="nav-item"><a href="../pages/about.html">About Us</a></li>
    <li class="nav-item"><a href="../pages/contact.html">Contact Us</a></li>
    <li class="nav-item"><a href="../pages/course.html">Course</a></li>
    <li class="nav-item">
      <div>Info</div>
      <ul class="nav">
        <li class="nav-item">
          <a href="../pages/privacyPolicy.html">Privacy Policy</a>
        </li>
        <li class="nav-item"><a href="../pages/sitemap.html">Sitemap</a></li>
      </ul>
    </li>
  </ul>
  <a href="../pages/login.html" class="btn-login">
    <button class="btn">REGISTER / LOGIN</button>
  </a>
  <ul class="nav user-login" id="navbar-user">
    <li class="nav-item">
      <div>Welcome, <span class="text-highlight">-</span></div>
      <ul class="nav">
        <li class="nav-item">
          <a href="../pages/login.html" logout="">Logout</a>
        </li>
      </ul>
    </li>
  </ul>
</header>
