.course-detail-page {
  @extend %section-page;

  h4 {
    font-weight: $font-sb;
  }

  .detail {
    grid-column: 1/9;

    .img {
      background-color: $gray-color;
      width: 100%;
      height: 50rem;
      border-radius: 3rem;
      overflow: hidden;
      box-shadow: $shadow;

      img {
        width: 100%;
      }
    }

    .text {
      margin-top: 5rem;
      display: flex;
      flex-direction: column;
      gap: 1.5rem;

      ul {
        padding-left: 4rem;
      }
    }

    .schedule {
      margin-top: 5rem;
    }
  }

  .registration {
    grid-column: 9/13;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    background-color: $white-color;
    box-shadow: $shadow;
    padding: 4rem;
    border-radius: 15px;
    height: max-content;

    h3 {
      color: $gold-color;
      font-weight: $font-sb;
    }

    ul {
      padding-left: 4rem;
    }

    // .btn {
    //   width: 100%;
    // }
  }
}
