.hero {
  position: relative;
  width: 100%;
  height: 90vh;
  display: grid;
  grid-template-columns: repeat(12, 1fr);

  .hero-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3rem;
    grid-column: 2/7;

    .brand {
      font-size: $text-xl;
      font-weight: $font-b;
      line-height: 1.2;
    }
  }

  .hero-img {
    grid-column: 7/13;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;

    .img-items {
      background-color: $gray-color;
      border-radius: 5rem;
      width: 10rem;
      height: 30rem;
      overflow: hidden;
      background-size: 25rem;
      box-shadow: $shadow;
    }

    .img-items:nth-child(1) {
      transform: translateY(5%);
      background-image: url('../../../assets/img/people/people (13).jpg');
      background-position-x: 13rem;
      background-position-y: center;
    }

    .img-items:nth-child(2) {
      transform: translateY(-10%);
      background-image: url('../../../assets/img/people/people (7).jpg');
      background-position-x: 19rem;
      background-position-y: center;
    }

    .img-items:nth-child(3) {
      transform: translateY(10%);
      background-image: url('../../../assets/img/people/people (8).jpg');
      background-position-x: 17rem;
      background-position-y: center;
    }
  }

  .img-shape {
    img:nth-child(1) {
      @include shape(26rem, 8rem, unset, unset, -17rem, 90deg);
    }

    img:nth-child(2) {
      @include shape(6rem, unset, unset, 6rem, 14rem, 90deg);
    }

    img:nth-child(3) {
      @include shape(4rem, unset, 14rem, 10rem);
    }

    img:nth-child(4) {
      @include shape(5rem, 10rem, unset, unset, 50rem);
    }

    img:nth-child(5) {
      @include shape(6rem, 15rem, 5rem);
    }

    img:nth-child(6) {
      @include shape(4rem, 28rem, 80rem, unset, unset, 90deg);
    }
  }
}
