// Size
.text-xl {
  font-size: $text-xl;
}

.text-lg {
  font-size: $text-lg;
}

.text-md {
  font-size: $text-md;
}

.text-sm {
  font-size: $text-sm;
}

.text-xs {
  font-size: $text-xs;
}

// Colors
.text-gray {
  color: $gray-color;
}

.text-primary {
  color: $primary-color;
}

.text-dark {
  color: $dark-color;
}

.text-light {
  color: $light-color;
}

.text-danger {
  color: $red-color !important;
}

// Weight
.text-rg {
  font-weight: 400;
}

.text-md {
  font-weight: 500;
}

.text-sb {
  font-weight: 600;
}

.text-black {
  font-weight: 900;
}
